@font-face {
  font-family: 'IBMPlexMono';
  src: local(NotoSerif),
    url(./assets/fonts/IBMPlexMono-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: local(NotoSerif),
    url(./assets/fonts/IBMPlexMono-Bold.ttf) format('truetype');
  font-weight: 700;
}

:root {
  --page-max-width: 1100px;
  --page-offset: 16px;
  --page-offset-text: 64px;
  --page-max-wide-width: 1800px;
  --page-max-width-with-sidebar-direct: 1500px;
  --page-offset-tablet: 36px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexMono';
  background: #e2e2e2;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.header-logo {
  display: flex;
  gap: 0.3em;
}

.header-logo > p {
  color: #39393d;
  font-weight: 700;
  font-size: 1.5em;
}

.header-nav {
  display: flex;
  gap: 2em;
}

.nav-link {
  color: #323542;
  font-size: 1.2em;
}

.page {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}